body {
    background-color: grey;
    position: absolute;
    padding: 1px;
    margin: 2px;
    
}

.logo {
    width: 50px;
    height: auto;
    float: right;
    transform: translate(-25px, -65px);
}

.birdWatching {
    background-color: green;
}

.birdTitle {
    text-align: center;
    padding-top: 15px;
}

.darkGreen {
    background-color: green;
}

.favoritePhotos {
    background-color: lightgreen;
    float: right;
}

.welcome {
    background-color: lightgreen;
    float: left;
}

.divBar {
    background-color: lightGreen;
    margin: 10px;
    padding: 3px;
}

.divBar ul {
    list-style-type: none;
}

.divBar a {
    color:black;
    text-decoration: none;
}