body {
    background-color: grey;
    /* position: absolute; */
    padding: 1px;
    margin: 2px;
}

.logo {
    width: 50px;
    height: auto;
    float: right;
    transform: translate(-25px, -65px);
}

.birdWatching {
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.birdTitle {
    text-align: center;
    padding-top: 10px;
}

.favoritePhotos {
    /* background-color: lightgreen; */
    /* float: right; */
}

.individualImg {
    width: 50%;
    height: 50%;
}

.welcome {
    /* background-color: lightgreen; */
    /* float: left; */
}

.divBar {
    background-color: lightGreen;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.divBar a {
    color:black;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.divBar li:hover{
    background-color: white;
}
.divBar li{
    display: inline-block;
    max-width: 100px;
    min-width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 5px;
}

footer {
    background-color: green;
}

.container {
    display: flex;
    gap: 20px;
    background-color: green;
    padding: 10px;
}
.container article {
    flex: 1;
    padding: 10px;
    background-color: lightgreen;
}